# This is Git's per-user configuration file.
[include]
  # Include private git config
  # e.g. user.name, user.email, etc..
  path = ~/.gitconfig.private
[core]
	excludesfile = ~/.gitignore_global
[diff]
    tool = vimdiff
[filter "nbstrip_full"]
  clean = "jq --indent 1 \
          '(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
          | (.cells[] | select(has(\"execution_count\")) | .execution_count) = 0 \
          | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
          | .cells[].metadata = {} \
          '"
  smudge = cat
[filter "ipynb_stripout"]
	clean = ipynb_stripout
	smudge = cat
[merge "ours"]
	driver = true
[alias]
  # https://coderwall.com/p/euwpig/a-better-git-log
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
[push]
	default = simple
[difftool]
	prompt = false
[merge]
	ff = false
